<button class="">
	<h1>{{title}}</h1>
	{{! add proper reference after model file complete }}
	<img
		src="{{image_url}}"
		alt="image of pizza"
		class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
	/>
	<button type="submit" id="{{title}}">Order</button>
</button>

<script src="/public/javascript/order.js"></script>