<table>
    <thead>
        <tr>
            <th>Ingredients</th>
            <th>Stock</th>   
        </tr>
    </thead>
    <tbody>
        {{#each ingredient}}
        <tr>
            <td>{{name}}</td>
            <td>{{stock}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
                      