<th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap  hover:text-green-500 transition duration-300 font-semibold">{{name}}</th>
<td class="px-6 py-4">{{stock}}</td>
<td class="px-6 py-4">{{perPizza}}</td>

{{!-- edit button
delete button  --}}
