<div class="flex flex-row justify-around items-start">
	<div class="flex flex-col border border-2 rounded-xl mt-10">
	<section class="relative p-8 items-center justify-center overflow-hidden">
		<h1 class="text-2xl font-medium mb-4">Add New Ingredient</h1>

		<form class="flex flex-col max-w-sm " id="addStock">
			<div class="flex items-center border-b border-teal-500 py-2">
				<input
					id="ingredientInput"
					class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
					type="text"
					placeholder="Ingredient name"
					aria-label="Ingredient name"
				/>
			</div>
			<div class="flex items-center border-b border-teal-500 py-2">
				<input
					id="perPizzaInput"
					class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
					type="text"
					placeholder="Amount per pizza"
					aria-label="per pizza input"
				/>
			</div>
			<div class="flex items-center border-b border-teal-500 py-2">
				<input
					id="stockInput"
					class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
					type="text"
					placeholder="Number in Stock"
					aria-label="Stock number"
				/>	
			</div>
			<button
					class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded mt-6"
					type="submit"
				>
					Submit
			</button>
		</form>
	</section>
	</div>

{{#if ingredients.length}}
  <section class="relative w-2/3 my-8 overflow-x-auto shadow-md sm:rounded-lg">
  	<table style="width:100%" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  			<tr>
  				<th scope="col" class="px-6 py-3 text-gray-900 dark:text-white whitespace-nowrap">Ingredients</th>
  				<th scope="col" class="px-6 py-3 text-gray-900 dark:text-white whitespace-nowrap">Stock</th>   
  				<th scope="col" class="px-6 py-3 text-gray-900 dark:text-white whitespace-nowrap">Amount per Pizza</th>
          <th scope="col" class="px-6 py-3 text-gray-900 dark:text-white whitespace-nowrap">Edit Ingredient</th>
  			</tr>
  		</thead>
  			{{#each ingredients as |ingredient|}}
  			<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700  hover:text-green-500 transition duration-300 font-semibold">
  				{{> table-rows ingredient}}
  			</tr>
  			{{/each}}
  	</table>
  </section>
{{/if}}
</div>

<div>
<canvas id="myChart" width="auto" height="auto"></canvas>
</div>

<script src="/javascript/add-ingredient.js"></script>
<script src="/javascript/edit-ingredient.js"></script>
<script src="/javascript/delete-ingredient.js"></script>


