
<div class="flex justify-around">
	<!--NEW INGREDIENT COMPONENT -->
<div class="flex flex-col items-center mt-6">
	<section class="border border-2 p-8 rounded-xl">
	<h1 class="display:flex justify-content:center text-2xl font-medium mb-2">Add New Ingredient</h1>
	<form class="flex flex-col max-w-sm justify-around" id="addStock">
		<div class="flex items-center border-b border-teal-500 py-2">
			<input
				id="ingrediantInput"
				name="ingrediantInput"
				class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
				type="text"
				placeholder="Ingredient name"
				aria-label="Ingrediant name"
			/>
		</div>
			<div class="flex items-center border-b border-teal-500 py-2">
			<input
				id="perPizzaInput"
				name="perPizzaInput"
				class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
				type="text"
				placeholder="Amount per pizza"
				aria-label="per pizza input"
			/>
		</div>
		<div class="flex items-center border-b border-teal-500 py-2">
			<input
				id="stockInput"
				name="stockInput"
				class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
				type="text"
				placeholder="Number in Stock"
				aria-label="Stock number"
			/>
		</div>
		<button
				class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded mt-4"
				type="submit"
			>
				Submit
			</button>
	</form>
</section>
</div>

{{!-- TABLE --}}
<section class="flex flex-col w-2/3 place-items-center">
	<table style="width:80%" class="w-full align: center, border:1px solid black mt-4">
	<thead>
        <tr>
            <th>Ingredients</th>
            <th>Stock</th>   
            <th>Usage per Pizza</th>
        </tr>
    </thead>
	<div class="flex justify-around">
		{{#each ingredients as |ingredient|}}
	<tr>
		{{> Stocktally2 ingredient}}
	</tr>
	{{/each}}
	</div>
	</table>

</section>

</div>
{{! here will go the charts after finalized }}
<canvas id="myChart" width="400" height="400"></canvas>

<script src="../public/javascript/chart.js"></script>