.menu {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
  }
.button {
    font-size: x-large;
}
.button2 {
    font-size: x-large;
}
.button3 {
    font-size: x-large;
}
.button4 {
    font-size: x-large;
}